<footer>
    <div id="footer">
        <div id="logo_text">
            daddysboiii.Inc ©️ All Rights Reserved.
            <div id="links">
                <!-- <a href="/users">Profile </a><span>|</span> -->
                <a href="/">Home </a>
            </div>
        </div>
    </div>
</footer