<!DOCTYPE html>
<html>

<head>
    <title>
        Reset Password
    </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="css/signin.css">
</head>

<body>
    <%- include('_header') %>
        <h2 id="heading">Reset Password</h2>
        <div id="loginupForm">
            <form action="/resetpassword" method="post">
                <input type="email" name="email" placeholder="Your E-mail" required><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        
</body>

</html>