<section id="feed-posts">
    <div id="make-post">
        <% if(locals.user){ %>
            <% if (!locals.user.avatar){ %>
                <div id="profile_pic">
                    <img src="/uploads/users/avatars/profilepic.png" alt="profile pic" class="avatar_pic">
                </div>
            <% }else{ %>
                <div id="profile_pic">
                    <img src="<%=locals.user.avatar%>" alt="profile pic" class="avatar_pic">
                </div>
            <% } %>
            <form action="/posts/create" enctype="multipart/form-data" method="post" id="new-post-form">
                <textarea id="text_area" name="content" cols="65%" rows="10" placeholder="What's on your mind?" required></textarea><br>
                <label id="upload-post" for="upload-post-input"><img src="../uploads/images/uploadImage.png" alt="Image"></label>
                <input id="upload-post-input" type="file" name="postAttachment">
                <input type="submit" value="Post" id="post_form_button">
            </form>
            <% } %>
            
    </div>
    <h4 id="posts">Posts</h4>
    <div id="posts-list-container">
        <ul>
            <%for(post of posts){%>
                <%- include('_post.ejs') %>
            <%}%>
        </ul>
        
    </div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p></p>
  </div>

</div>

<script src="/js/likes.js"></script>
<script src="/js/home_posts.js"></script>
