// for loading div
.center {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
height: 36px;
width: 2px;
background: linear-gradient(45deg, #cf01ff, #fff);
margin: 3px;
animation: wave 1s linear infinite;
border-radius: 20px;
}
.wave:nth-child(2) {
animation-delay: 0.1s;
}
.wave:nth-child(3) {
animation-delay: 0.2s;
}
.wave:nth-child(4) {
animation-delay: 0.3s;
}
.wave:nth-child(5) {
animation-delay: 0.4s;
}
.wave:nth-child(6) {
animation-delay: 0.5s;
}
.wave:nth-child(7) {
animation-delay: 0.6s;
}
.wave:nth-child(8) {
animation-delay: 0.7s;
}
.wave:nth-child(9) {
animation-delay: 0.8s;
}
.wave:nth-child(10) {
animation-delay: 0.9s;
}
@keyframes wave {
0% {
  transform: scale(0);
}
50% {
  transform: scale(1);
}
100% {
  transform: scale(0);
}
}
header{
    background-color: #292929e8;
    padding: .4vw;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    // @media screen and (min-width:750px){
      #header{
          display: flex;
          justify-content: space-between;
          margin-right: 20px;
          #title-image{
            height: 32px;
            width: 162px;
          }
          #top-right-options{
            display: flex;
            justify-content: space-between;
            a{
              display: inline-block;
              text-decoration: none; 
              font-size: 20px;
              color: #8e27c5;
              padding: 0;
              margin: 0;
              &:hover{
                  color: #7819ab;
               }
            }
            #search-button{
              display: none;
            }
            #profile-page-img{
              display: none;
            }
            #profile-page-text{
              display: inline-block;
            }
            .notification {
              background-color: #555;
              color: wrgb(13, 185, 183);
              text-decoration: none;
              padding: 5px 16px;
              position: relative;
              display: inline-block;
              border-radius: 2px;
              margin-right: 20px;
            }
            .notification:hover {
              background: rgb(69, 64, 64);
            }
            .notification .badge{
              position: absolute;
              top: 17px;
              right: -10px;
              padding: 2px 7px;
              border-radius: 50%;
              background: red;
              color: white;
              font-size: 15px;
              // visibility: hidden;
            }
          }
          p{
            margin: 0;
            padding: 0;
            font-size: 2.3vh;
            text-align: left;
            a{
              font-weight: bold;
              font-size: 2.1vh;
              color: black;
            }
          }
          #acceptRejectPanel{
            a{
              font-weight: bold;
              font-size: 2.1vh;
              color: black;
            }
            a:hover{
              font-weight: bold;
              font-size: 2.1vh;
              color: rgb(121, 80, 80);
              border-bottom: 1px solid black;
            }
          }
          #PendingClearPanel{
            a{
              font-weight: bold;
              font-size: 2.1vh;
              color: rgb(255, 0, 0);
            }
            a:hover{
              font-weight: bold;
              font-size: 2.1vh;
              color: rgb(121, 80, 80);
              border-bottom: 1px solid black;
            }
          }
      }
      #notification-box{
          position: absolute;
          height: 1px;
          width: 1px;
          background-color: #c92bd89c;
          right: 40px;
          top: 40px;
          visibility: hidden;
          transition: .3s ease-out;
          overflow: scroll;
          border-radius: 20px;
          padding: 10px;
          font-size: 2vh;
      }
      #search-box{
        background-color: #56106de6;
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: hidden;
        position: absolute;
        height: 50vh;
        width: 60vw;
        border-radius: 10px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: 0.5s;
        input{
          font-size: 20px;
          // text-align: center;
          color: #9e9e9e;
          width: 80%;
          border-radius: 5px;
          margin-top: 20px;
          background-color: #d2dce514;
          outline: none;
          border: none;
          margin-bottom: 5px;
        }
        #container{
          width: 100%;
          overflow: scroll;
          ul{
            color: #acacac;
            a{
              text-decoration: none;
              color: #acacac;
            }
          }
        }
      }
    // }
    .container {
      display: none;
    }
    ::-webkit-scrollbar-corner {background-color: transparent;}
    @media screen and (max-width: 750px){
      #header{
        margin-right: 3px !important;
      }
      #title-image{
        margin-top: 6px;
        height: 28px !important;
        width: 145px !important;
      }
      #search-button{
        display: inline-block !important;
        img{
          height: 35px;
          width: 35px;
          margin-right: 5px;
        }
      }
      #profile-page-img{
        display: inline-block !important;
        img{
          height: 35px;
          width: 35px;
        }
      }
      #profile-page-text{
        display: none !important;
      }
      .notification{
        padding: 8px 6px !important;
        margin-right: 4px !important;
        background-color: transparent !important;
        font-size: 0 !important;
        padding: 0 !important;
        .badge{
          top: 21px !important;
          right: 1px !important;
          padding: 2px 5px !important; 
          font-size: 11px !important;
        }
      }
    }
}
