::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-track:hover {
    background: rgba(83, 83, 83, 0.1); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(58, 57, 57); 
    border-radius: 50px;
  
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @media screen {
    
  }
body{
    margin: 0;
    margin-top: 60px;
    padding: 0;
    background-color: #1c1d20;
    font-family: sans-serif;
    // font-size: 3vh;
    #home-layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #left{
            display: none;
            position: relative;
            color: white;
            width: 25vw;
            #left-fixed{
                border-radius: 10px;
                position: fixed;
                width: inherit;
                height: auto;
                top: 60px;
                bottom: 10px;
                overflow-y: scroll;
                .left-pane-options{
                    padding: 10px 30px;
                    background-color: inherit;
                    font-weight: bold;
                    border-radius: 10px;
                    color: #41cb28;
                    cursor: pointer;
                }
                .left-pane-options:hover{
                    background-color: #514f4f;
                }
                #messenger{
                    position: relative;
                    ::-webkit-scrollbar-corner {background-color: transparent;}
                }
                #chat-options-list{
                    height: 0px;
                    font-weight: bold;
                    overflow: scroll;
                    transition-duration: .5s;
                }
                .chat-options-list{
                    visibility: hidden;
                    a{
                        text-decoration: none;
                        color: yellow;
                    }
                }
            }
        }
        #layout-main{
            padding: 5px;
            width: 100vw;
            #make-post{
                display: flex;
                background-color: #333232;
                padding: 10px;
                border-radius: 10px;
                justify-content: space-around;
                height: 158px;
                #post-form-left{
                    display: flex;
                    width: 106px;
                    max-width: 110px;
                    align-items: center;
                    justify-items: center;
                    #profile_pic{
                        width: 100%;
                        img{
                            width: 80%;
                            height: auto;
                            border-radius: 50%;
                        }
                    }
                }
                #post-form-right{
                    width: 264px;
                    max-width: 270px;
                    // height: 100%;
                    #new-post-form{
                        max-height: 80%;
                        // margin-top: 20px;
                        #text_area{
                            background-color: transparent;
                            border: none;
                            font-family: sans-serif;
                            color: #dcd8d8;
                            font-size: 20px;
                            height: 100px;
                            width: 100%;
                            resize: none;
                            ::placeholder{
                                color: black;
                            }
                        }
                        #post_form_button{
                            display: block;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            background-color: #2374e1;
                            color: white;
                            border: none;
                            border-radius: 10px;
                            font-size: 18px;
                            font-weight: lighter;
                            width: 40%;
                            // height: 5vh;
                        }
                    }
                }
            }
        }
        #right{
            display: none;
            position: relative;
            padding: 5px;
            color: white;
            width: 25vw;
            #right-fixed{
                border-radius: 10px;
                position: fixed;
                width: inherit;
                height: auto;
                top: 60px;
                bottom: 10px;
                overflow-y: scroll;

                .right-pane-section-heading{
                    font-size: medium;
                    color: white;
                    background-color: #333;
                    padding: 20px;
                    border-radius: 5px;
                    margin-right: 10px;
                }
                #users-on-platform{
                    .friends-display-content{
                        text-decoration: none; 
                        color: #ffffff;
                        padding: 10px;
                    }
                    ul{
                        img{
                            height: 30px;
                            width: auto;
                            border-radius: 50%;
                        }
                        width: 80%;
                        border: solid 3px #5c5c5c;
                        border-radius: 5px;
                        padding: 10px;
                        margin: 10px;
                    }
                }
                #friends-list{
                    .friends-display-content{
                        text-decoration: none; 
                        color: #ffffff;
                        padding: 10px;
                    }
                    ul{
                        width: 80%;
                        border: solid 3px #5c5c5c;
                        border-radius: 5px;
                        padding: 10px;
                        margin: 10px;
                        font-size: 18px;
                    }
                }
            }
            ::-webkit-scrollbar{
                display: none;            
            }
            ::-webkit-scrollbar:active{
                display:inline-block;
            }
        }
    }
    #heading{
        color: #646265;
        font-size: 3vw;
        font-family: monospace;
        font-weight: bold;
    }
    #feed-posts{
        #make-post{
            #upload-post-input{
                display: none;
            }
            #upload-post{
                margin-left: 0;
                cursor: pointer;
                img{
                    height: 20px;
                    width: auto;
                }
            }
        }
        // margin-left: 20vw;
        // width: 60%;
    }
    
    // .avatar_pic{
    //     height: 5vw;
    //     width: 5vw;
    //     border-radius: 50%;
    //     display: inline-block;
    // }
    //contains all the posts in the feed-posts section
    
    #posts-list-container{
        margin: 0;
        padding: 0;
    }
    #posts-list-container ul{
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }
    #post-content{
        margin-left: 3rem;
    }
    .likeToggle{
        color: #92c221;
        text-decoration: none;
        cursor:pointer;
    }
    // animation for likes
    ul{
        a{
            border-bottom: #3a3b3c solid 0px;
            transition-duration: .1s;
        }
        a:hover{
            border-bottom: #3a3b3c solid 1px;
        }
        a:active{
            color: inherit;
        }
        #likes{
            transition-duration: .1s;

        }
    }
    p{
        margin: 0;
    }
    
    #posts{
        color: #bea7a7;
    }
    .commenter{
        color: #41cb28;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    .comment-title{
        color: white;
        font-size: 15px; 
        margin-left: 1vw;
    }
    .comment-content{
        color: #9a9999;
        font-size: 16px;
    }
    #commentAttach{
        img{
            max-height: 140px;
            width: auto;
            margin-left: 50px;
            border-radius: 5px;
        }
    }
    .post-comments{
        input{
            background-color: #343537;
            color: rgb(204, 197, 197);
            border: none;
            border-radius: 30px;
            font-size: 14px;
            padding: 5px;
            margin: 10px;
            width: 185px;
            ::placeholder{
                color: red;
            }
        }
        #upload-comment{
            img{
                margin-left: 20px;
                height: 20px;
            }
            cursor: pointer;
        }
        #upload-comment-post{
            display: none;
        }
        
    }
    #likes{
        color: #979797;
    }
    .create-like{
        
    }
    .box{
        // border: .3vw solid #00a388 ;
        // position: relative;
        background-color: #131313;
        color: #131313;
        padding:20px;
        border-radius: 10px;
        box-shadow:  0 45px -10px #8e27c5;
        .avatar-info{
            display: flex;
            height: 65px;
            .post-avatar{
                height: 55px;
                width: 55px;
                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .username-datetime{
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                .post-user-name{
                    font-size: 25px;
                    // font-weight: bold; 
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                    color: rgb(213, 215, 216);
                }
                .post-datetime{
                    font-size: 14px;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
                    color: rgb(107, 110, 111);
                }
            }            
        }
        .post-Image-Container{
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
            .post-attachment{
                border-radius: 10px;
                outline: rgb(109, 102, 102) 1px solid;
                max-height: 60vh;
                width: auto;

                overflow: hidden;
            }
        }
        #post-content{
            font-size: 19px;
            color: silver;
        }
    }
    .edit-delete-post{
        float: right;
        text-decoration: none;
        color: #92c221;
        margin-right: 1.4vw;
        
    }
    .edit-delete-post:hover{
        transition: .2s;
    }
    .edit-delete-comment{
        font-size: 14px;
        text-decoration: none;
        color: red;
        margin-left: 3vw;
    }
    .edit-delete-comment:hover{
        font-size: 2.2vh;
        transition: .2s;
    }
    #border{
        border-top: 1px solid #5d6160;
        width: 100%;
        margin: .5vw 4.2vw .5vw 0vw;
    }

    // for the modal box
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #767176e8;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 3px solid #bfb9bf6e;
        border-radius: 3px;
        width: 30%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button */
      .close {
        color: rgb(47, 46, 46);
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      .modal-heading{
          margin-top: -4px;
      }

    //   for profile page
    #details{
        color: white;
    }
    #loginupForm{
        background-color: #242526;
        width: 85vw;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20vh;
        border-radius: 15px;
        padding: 15px;
        input{
            font-size: 2.6vh;
            padding: 1vh;
            border-radius: 5px;
            background-color: #3a3b3c;
            color: #8e27c5;
            transition-duration: 0.1s;
        }
        ::placeholder{
            color: #898784;
            font-size: 2.22vh;
            font-weight: lighter;
        }
        input:focus{
            outline: none;
            border: none;
            padding: 1.3vh;
        }
        input:hover{
            padding: 1.5vh;
        }
        form{
            color: #757599;
            width: 80%;
        }

    }
    #bottomOptionsLogin{
        background-color: #242526;
        padding: 2vh;
        display: flex;
        width: 30%;
        margin-left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        margin-top: 15vh;
        border-radius: 10px;
        a{
            text-decoration: none;
            font-size: 3vh;
            transition-duration: .2s
        }
        a:visited{
            color: #757599;
        }
        a:hover{
            font-size: 3.2vh;
            color: #8e27c5;
        }
    }
    #mobile-chat{
        display: inline;
        position: fixed;
        bottom: 20px;
        left:10px;
        z-index: 10;
        img{
            height: 37px;
            width: auto;
        }
    }
}