<div style="background-color: rgb(139, 231, 54);">
    <h3 style="font-family: sans-serif;">Check out and see what <%=comment.user.name%> has commented on your latest post!</h3>
    <p style="font-size: large; font-weight: bold; font-family: 'Courier New', Courier, monospace;"><%=comment.content%></p>
</div>