footer {
  margin-top: 1vh;
  background-color: #393939;
  padding: .4vw; }
  footer #footer #logo_text {
    font-family: sans-serif;
    font-weight: bold;
    color: black; }
  footer a {
    display: inline-block;
    text-decoration: none;
    color: #17aba4; }
